@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Major+Mono+Display&family=Raleway&display=swap');

:root{
	--bgcolor: #27282c;
	--overlay: #5e5e5e;
}

::selection {
  background: #ddeced;
}

body{ 
	font-family: 'Raleway';
	text-align: center;
	color: white;
	background-color: #000;
	background-image: 
		linear-gradient(transparent 11px, rgba(255, 255, 255, 0.2) 12px, transparent 12px),
		linear-gradient(90deg, transparent 11px, rgba(255, 255, 255, 0.2) 12px, transparent 12px);
		background-size: 100% 20px, 20px 100%;

}

#subtitle{
	font-family: 'Major Mono Display';
	font-size: 0.8em;
	padding: 10px 10px 20px 10px;
	text-align: center;
	color: white;
}

header{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vw;
	font-family: 'Rubik Mono One';
	color: white;
	font-size: 70px; 
	position: relative;
	width: 7.7em;
	text-align: center;
	text-shadow: -1px 0 fuchsia, 1px 0 cyan;
}

a{
	font-size: 36px;
	color: var(--overlay);
	margin: 2px;
	text-decoration: none;
	text-align: center;
}

a:hover{
	filter: drop-shadow(0px 0px 10px white);
	color: grey;
}

p{
	margin: 0em 3em 0em 3em;
	padding: 0 auto;
	font-size: small;
}



/* for images w thumbnails */
.thumb{
	border-radius: 50%;
	width: 2.5em;
	margin: auto;
}

/* for screenshots in the Projects tab */
.screenshot{
	width: 70%;
	justify-content: center;
	margin: 0.5em 0.5em 1.5em 0.5em;
	padding: auto;
	filter: brightness(90%) sepia(10%) drop-shadow(0px 0px 10px rgb(172, 169, 169));
	border-radius: 20px;
}

.screenshot:hover{
	filter: brightness(90%) sepia(10%) drop-shadow(0px 0px 10px grey);
}


/* ---------------------------------------------- */
/*                      TABS                      */
/* ---------------------------------------------- */
 .tabs { /*background*/
	display: flex;
	flex-wrap: wrap; 
	padding: 3vw 15vw;
}

.tabs label { /* the tab flap for unopened tab */
	order: 1; 
	display: block;
	padding: 10px 20px 13px 20px;
	cursor: pointer;
	background: var(--bgcolor);
	font-weight: bold;
	font-size: 15px;
	transition: background-color ease 0.2s;
	border-radius: 10px 10px 0px 0px;
	
}
.tabs .tab { /*contents of tab*/
	order: 99; 
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
	background: var(--overlay);
	border-radius: 0px 10px 10px 10px;
}
.tabs input[type="radio"] {
	display: none;
}

.tabs input[type="radio"]:checked + label { /* tab flap for for opened tab */
	background: var(--overlay);
	border-radius: 10px 10px 0px 0px;
	padding: 10px 20px 10px 20px;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}


/* ---------------------------------------------- */
/*                      MEDIA                     */
/* ---------------------------------------------- */

@media (max-width: 45em) {
	.tabs .tab,
	.tabs label {
	  order: initial;
	}

	.tabs{
		text-align: center;
	}

	.tabs .tab{ /* contents of tab */
		border-radius: 0px 0px 10px 10px;
	}

	.tabs label { /* the tab flap for unopened tab */
	  width: 100%;
	  margin-right: auto;
	  margin-top: 0.2rem;	
	  margin-bottom: -0.1rem;
	  border-radius: 10px 10px 10px 10px;
	}
  
	#subtitle{
	  font-size: 0.6em;
	  padding: 10px;
	}
  
	header{
		font-size: 40px;
		width: 8.5em;
		text-align: center;
	}

	p{
		font-size: 0.7em;
	}

	.thumb{
		border-radius: 50%;
		width: 2.5em;
		padding: 0;
		display: block;
	}
  
  }
  