@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&family=Archivo+Black&display=swap');

::selection {
  background: #d3d3d3;
}

body{
	color: white;
}

h1{ 
	font-family: 'Montserrat';
	text-align: center;
	color: black;
	background-color: white;
}

header{
	font-family: 'EB Garamond';
	color: black;
	font-size: 35px; 
}

.links{
	font-family: 'Montserrat';
	font-size: 15px;
	color: black;
	margin: 10px;
	text-decoration: none;
}

a:hover{
	filter: blur(2.5px);
}


#wrapper{
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 7vw;
}

#icons{
	left: 80%;
	position: absolute;
}

#navbar{
	background-color: white;
	position: fixed; 
	text-align: center;
	top: 0; 
	width: 100%; 
	transition: top 0.3s;
	padding: 1.5vw 1.5vw 2.5vw 1.5vw;
	z-index: 1;
}

#title{
	position: fixed;
	left: 4%;
	padding: 0px;
}

#footer{
	background-color: black;
	font-size: 10px;
	padding: 3px;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat';
}

.column {
	float: left;
	width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.container1{
	background-image: url("img_block1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 230px;
	color: white;
	font-family: 'Archivo Black';
	text-shadow: 5px 5px 8px #2e2e2e;
	font-size: 30px;
	text-align: left;
}

.container2{
	background-image: url("img_block2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 230px;
	color: white;
	font-family: 'Archivo Black';
	text-shadow: 5px 5px 8px #2e2e2e;
	font-size: 30px;
	text-align: left;
}

.button{
	padding: 15px;
	background-color: black;
	color: white;
	font-family: 'Archivo Black';
	font-size: 15px;
	text-align: center;
}

.buttoncolors{
	color:white;
	text-decoration: none;
}

/* -------------- for the slideshow -------------- */
.mySlides{ 
	display: none;
}

.dot{
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slideshow-container{
	max-width: 900px;
	position: static;
	margin: auto;
	text-align: center;
}

.active {
	background-color:#808080;
}


/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 0.5s;
}
  
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}